* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.card {
    border: 1px solid #4f4f67;
    padding: 10px;
    margin: 1px;
}

button {
    padding: 10px;
    border: 1px solid #4f4f67;
}

#player {
    color: lightslategrey;
    position: fixed;
    top: 0;
    right: 0;
}

#myturn {
    color: lightslategrey;
    position: fixed;
    bottom: 0;
    right: 0;
}

.enabled {
    border: 5px solid black;
}