* {
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    color: #4f4f67;
}

.card {
    border: 1px solid #4f4f67;
    padding: 10px;
    margin: 1px;
}

button {
    padding: 10px;
    border: 1px solid #4f4f67;
}
