<nav class="navbar" ng-controller="Scoreboard">
    <div class="col-xs-12 col-sm-6">
        <button class="btn" ng-click="minus('a')" type="submit">
            <span aria-hidden="true" class="glyphicon glyphicon-minus">
            </span>
        </button>
        Team A
        <team-score team="a"></team-score>
        <!-- <span>
            {{ getTeamScore('a') }}
        </span> -->
        <button class="btn" ng-click="plus('a')" type="submit">
            <span aria-hidden="true" class="glyphicon glyphicon-plus">
            </span>
        </button>
    </div>
    <div class="col-xs-12 col-sm-6">
        <button class="btn" ng-click="minus('b')" type="submit">
            <span aria-hidden="true" class="glyphicon glyphicon-minus">
            </span>
        </button>
        Team B
        <team-score team="b"></team-score>
        <button class="btn" ng-click="plus('b')" type="submit">
            <span aria-hidden="true" class="glyphicon glyphicon-plus">
            </span>
        </button>
    </div>
</nav>



<div class="row half-height" >
    <div class="col-xs-6 card" id="{{suit}}" ng-click="changeTrump(suit)" ng-repeat="suit in deck">
    </div>
</div>